body {
    background-image: url("baklava.png");
    background-size: 180px;
    background-color: burlywood;
    margin: 0;
}
header {
    background-color: green;
    width: 100%;
    margin: 0;
    padding: 5rem;
    padding-bottom: 0;
}
nav {
    display: block;
    text-align: center;
    margin: auto;
}
button {
    padding: 1.5rem 4rem 1.5rem 4rem;
    font-size: 2rem;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 60%;
    margin: auto;
}

h1 {
    font-size: 12rem;
}

h2 {
    font-size: 10rem;
}

h3 {
    font-size: 8rem;
}
h4 {
    font-size: 6rem;
}
span,p {
    font-size: 4rem;
}